body {
/*  font-family: monospace;
  font-size: 16px;
  line-height: 150%;*/
  margin: 0px auto;
}

a {
  color: white; 
 }

h3 {
  text-align: center
}

.wrapper {
  max-width: 800px;
  margin: 80px auto;
}

.overview {
  padding-top: 10%;
}

.form-horizontal {
  margin: 0 auto;
}

.btn {
  margin: 0 auto;
}

#display {
  padding-top: 24px;
}

#display > div {
  padding-left: 30px;
  text-indent: -30px;
}

#display > input {
  display: block;
  width: 90%;
  font-size: inherit;
  line-height: inherit;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background: #fff;
}

footer p {
  max-width: 600px;
  margin: 0 auto;
}