/**** HOME PAGE STYLES *****/

/***ALL SCREENS ***/
body {
  margin: 0px auto;
}

#app, #sceneComponent {
  position: absolute;
  height: 100%;
  width: 100%;
}

/******* ABOVE THE FOLD ******/

.above-fold {
  margin-bottom: 0; 
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a, a:hover {
  color: white; 
  text-decoration: none; 
 }

h3 {
  text-align: center
}

.glyphicon .glyphicon-chevron-down {
  color: white; 
}

.enter-space {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6px;
}

.space-btn {
  display: flex;
  justify-content: center;
}

.space-btn > button.btn.btn-default {
  width: 131px;
}

.down-chevron {
  margin: 0 auto; 
  width: 100px; 
  font-size: 4rem; 
  margin-top: 3rem; 
  display: flex;
  justify-content: center;
}

/******* INSTRUCTIONS ******/

#instructions {
  height: 80vh;
  padding-top: 4rem;
}

#instructions h3 {
  font-size: 4rem; 
  text-align: center; 
}

.instructions-p {
  font-size: 2rem;
  text-align: center; 
}

#compatibility {
  text-align: center; 
  margin-top: 5%; 
  line-height: 2.5rem; 
}

#compatibility a {
  color: blue; 
}

#about {
margin-top: 6%;
margin-left: 12%;
margin-right: 12%;
margin-bottom: 14%;
}


/****** MOBILE PHONES *********/
@media screen and (min-width: 320px) and (max-width: 999px) {
  /******* ABOVE THE FOLD ******/
  .above-fold {
    max-width: 800px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    height: 100vh; 
  }

  h3 {
    font-size: 6.5rem; 
  }

  .form  {
    margin: 0px; 
    font-size: 5rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .control-label {
    display: flex;
    justify-content: center;
  }

  #select {
    width: 40rem; 
    height: 10rem; 
    font-size: 5rem; 
    margin: 0px auto; 
  }

  #enter-space {
    margin: 0 0.5rem; 
    width: 800px;
  }

  #enter-space button {
    margin: 1em;  
    width: 35rem; 
    height: 10rem; 
    font-size: 2.9rem;  
  } 

  .space-btn {
    margin: 0 auto; 
    width: 745px;
  }

  .glyphicon .glyphicon-chevron-down {
    text-align: center; 
    font-size: 8rem; 
    margin: 0 auto; 
  }

  .down-chevron {
    margin: 0 auto; 
    width: 100px; 
    font-size: 12rem; 
    margin-top: 6rem; 
    display: flex;
    justify-content: center;
  }

  /******* INSTRUCTIONS ******/

  #instructions {
    height: 90vh;
    width: 87vw;
    margin-top: -17rem; 
  }

  #instructions h3 {
    font-size: 5em;
    line-height: 9rem; 
  }

  .instructions-p {
    font-size: 4.5rem;
    color: white; 
    padding-bottom: 8rem;
  }

  #compatibility {
    font-size: 3.8rem; 
    line-height: 5rem; 
  }

  #about {
    padding-top: 8rem;
  }

}

/******* LARGE TABLETS, LAPTOPS, AND DESKTOPS ********/

@media screen and (min-width: 1000px) {
  /******* ABOVE THE FOLD ******/
  .above-fold {
    max-width: 800px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
  }

  .form {
    width: 150px;
    margin: 0 auto;
    padding-left: 8px;
  }

  .form-control {
    width: 136px;
    margin: 0;
  }

  .btn {
    margin: 0 auto;
  }

  #enter-space {
    width: 800px;
  }

  #enter-space button {
    margin: 1em;
    width: 315px;
  } 

  /******* INSTRUCTIONS ******/

}
